# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pyc

# Virtual Environment
venv/
venv*/
ENV/
env*/
.venv/
.venv*/
dist/
build/
*.egg-info/
*.egg
*.egg-info

# VS Code
.vscode/
.settings/
*.code-workspace

# Logs and Databases
*.log
*.sqlite3
*.db

# Environment Variables
.env